<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:fragment="header-css-js">
	<script th:inline="javascript"> var _contextPath = /*[[@{/}]]*/ ''; </script>
	
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	
	<!-- Bootstrap 4 -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<!-- Datatable  -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.2.5/css/fixedColumns.bootstrap4.min.css"/>
 
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.5/js/dataTables.fixedColumns.min.js"></script>

	<!-- Select2 -->
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
		rel="stylesheet" />
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css"
		rel="stylesheet" />

	<!-- Icons -->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

	<!-- Template -->
	<script type="text/javascript" th:src="@{/js/layout/javascript-template.js}"></script>
	<script type="text/javascript" th:src="@{/js/layout/ajax-util.js}"></script>
	
	<link th:href="@{/css/layout/bitacora.css}" rel="stylesheet" />
		
	<!-- Chart -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>	

	<!-- Plugins -->
<!-- 	<script type="text/javascript" th:src="@{/plugins/toolbar/jquery.toolbar.js}"></script> -->
<!-- 	<link th:href="@{/plugins/toolbar/jquery.toolbar.css}" rel="stylesheet" /> -->
	
	<!-- Loading -->
	<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static"
		data-keyboard="false"
		style="position: fixed; top: 30%; left: 40%; width: 15%">
		<div class="modal-body">
			<div class="alert alert-info text-center" role="alert" style="font-size: 20px">
				<i class="fas fa-sync-alt refresh-animate"></i><span
					style="padding-left: 10px" th:text="#{mensaje.espere}"></span>
			</div>

		</div>
 	</div>

	<!-- Float success -->
	<div id="divSuccess" th:if="${success}">
		<div
			class="alert alert-success alert-dismissible fade show message-custom"
			role="alert">
			<span th:utext="${success}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>

	<!-- Modal success -->
	<div class="modal no-esc fade" id="modalSuccess" tabindex="-1"
		role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"
				style="background-color: #47C9A2; font-size: 15px; color: white; height: 200px">
				<div class="col-md-12 text-center" style="padding-bottom: 20px">
					<i class="far fa-check-circle"></i>
					<h5 th:text="#{mensaje.success.operacion.general}"></h5>
					<div class="text-center" id="msgDefaultSuccess" style=" text-align: justify; font-size: 15px !important">
					</div>				
					<button id="btnDefaultSucceess" type="button"
						class="btn btn-secondary">
						<span th:text="#{boton.aceptar}"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	
<!-- 		<div class="modal no-esc fade" id="modalSuccess" tabindex="-1" -->
<!-- 		role="dialog"> -->
<!-- 		<div class="modal-dialog" role="document"> -->
<!-- 			<div class="modal-content" -->
<!-- 				style="background-color: #47C9A2; font-size: 40px; color: white; height: 200px"> -->
<!-- 				<div class="col-md-12 text-center" style="padding-bottom: 20px"> -->
<!-- 					<i class="far fa-check-circle"></i> -->
<!-- 					<h7 th:text="#{mensaje.success.operacion.general}"></h7> -->
<!-- 					<div class="text-center" id="msgDefaultSuccess" style=" text-align: justify; font-size: 14px !important"> -->
<!-- 					</div>				 -->
<!-- 					<button id="btnDefaultSucceess" type="button" -->
<!-- 						class="btn btn-light btn-md"> -->
<!-- 						<span th:text="#{boton.aceptar}"></span> -->
<!-- 					</button> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
	
	<!-- Modal error -->
	<div class="modal no-esc fade" id="modalError" tabindex="-1"
		role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"
				style="background-color: #DC3545; font-size: 40px; color: white; height: 250px">
				<div class="col-md-12 text-center" style="padding-bottom: 20px">
					<i class="fas fa-exclamation-circle"></i>
					<div  class="text-center" id="msgDefaultError" style=" text-align: justify; font-size: 14px !important"></div>
					<button id="btnDefaultError" type="button"
						class="btn btn-light btn-md">
						<span th:text="#{boton.aceptar}"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	
	
</div>
</head>
</html>