/*Footer*/
html {
	position: relative !important;
	min-height: 100% !important;
}

body {
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	line-height: 21px;
}

/*Custom datatable*/
.table-md tbody, .table-md tr, .table-md td {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	
	font-size: .7rem !important;
}

.table-md thead, .table-md tr, .table-md th {
	font-size: .7rem !important;
}

table.dataTable thead .sorting::before, table.dataTable thead .sorting::after,
	table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after,
	table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after,
	table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after,
	table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after
	{
	bottom: 0.1em
}


.table-md tbody, .table-md tr {
	border-color: #f2f2f2 !important;
	border-bottom-width: 2px;
}

.btn-icon {
	cursor: pointer;
	font-size: .8rem;
}

.dataTables_wrapper .dataTables_scroll {
	border: 1px solid #ccc;
	margin: 1.5rem 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

div.dataTables_scrollHead table.dataTable {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	border: 0 !important;
}

.dataTables_scrollBody {
	border-top: 1px solid #ccc;
}

.table {
	border-left: 0px !important;
	border-right: 0px !important;
}

.table th {
	border-bottom: none
}

.tabbable .nav-tabs {
   overflow-x: auto;
   overflow-y:hidden;
   flex-wrap: nowrap;
}
.tabbable .nav-tabs .nav-link {
  white-space: nowrap;
}



