<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
	<title th:text="#{title.bitacora.home}"></title> 
 	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<div th:replace="layout/layout_header :: header-css-js"></div>
	<script type="text/javascript" th:src="@{/js/dashboard.js}"></script>
	<link rel="stylesheet" th:href="@{/css/bitacora-dashboard.css}">
  	<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  	<link href="../assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
</head>
<body>
	<input type="hidden" id="idUser" name="idUser" th:value="${idUserr}">
  	<div class="wrapper ">
    	<div class="sidebar" data-color="white" data-active-color="danger">
	      	<div class="logo">
		      	<div class="row">
			       	<div class="col-md-4 d-flex justify-content-start">
						<img th:src="@{/img/Seguridad_logo.png}" />
					</div>   
		      	</div>
	      	</div>
	      	<div class="sidebar-wrapper">
	        	<ul class="nav">
		          	<li id="idLiInicio" class="active link-dashboard">
		            	<a href="#">
		              		<i class="nc-icon nc-money-coins"></i>
		              		<p>Registro Usuario</p>
		            	</a>
		          	</li>
	        	</ul>
	      	</div>
    	</div>
    	<div class="main-panel">
	    	<nav class="navbar navbar-expand-lg   navbar-transparent" >
		      	<div class="container-fluid" style="background-color: #f4f3ef;">
		        	<div class="navbar-wrapper">
		            	<div class="navbar-toggle">
		            	</div>
		            	<a class="navbar-brand" href="#">Registro Usuario</a>
		          	</div>
	          		<div class="collapse navbar-collapse justify-content-end" id="navigation">
	            		<ul class="navbar-nav">              
		              		<li class="nav-item">
		              			<form th:action="@{/logout}" method="post">
				            		<input type="submit" value="Cerrar Sesion"/>
						        </form>
		        		    </li>
	            		</ul>
	          		</div>
	        	</div>
      		</nav>
			<div class="content" style="margin: 0 auto !important; width: 100% !important;  padding-top: 10px;">	
				<div class="card shadow-sm">
					<div class="card-body" >							
						<form autocomplete="off">
							<br>
							<br>
							<div class="row">
								<div class="form-group form-group-sm col-sm-2">
									<label for="inputExpediente">Expediente</label>
									<input class="form-control form-control-sm input-number" id="inputExpediente">
									<div id="inputErrorExpediente" class="text-danger d-none">
										<span th:text="#{dashbord.label.dato.incorrecto}"></span>
									</div>
								</div>
								<div class="form-group form-group-sm col-sm-3">
									<label for="inputNombre">Nombre</label>
									<input class="form-control form-control-sm " id="inputNombre">
									<div id="inputErrorNombre" class="text-danger d-none">
										<span th:text="#{dashbord.label.dato.incorrecto}"></span>
									</div>
								</div>
								<div class="form-group form-group-sm col-sm-3">
									<label for="inputApPaterno">Apellido Paterno</label>
									<input class="form-control form-control-sm " id="inputApPaterno">
									<div id="inputErrorPaterno" class="text-danger d-none">
										<span th:text="#{dashbord.label.dato.incorrecto}"></span>
									</div>
								</div>
								<div class="form-group form-group-sm col-sm-3">
									<label for="inputApMaterno">Apellido Materno</label>
									<input class="form-control form-control-sm " id="inputApMaterno">
									<div id="inputErrorMaterno" class="text-danger d-none">
										<span th:text="#{dashbord.label.dato.incorrecto}"></span>
									</div>
								</div>
							</div>							
							<div class="row">								
								<div class="form-group form-group-sm offset-9 col-sm-1">
									<button id="buttonBuscar" type="button" class="btn btn-sm btn-info">
										Buscar
									</button>
								</div>
								<div class="form-group form-group-sm  col-sm-1"
									style="padding-left: 35px;">
									<button id="buttonLimpiar" type="button" class="btn btn-sm btn-info">
										 Limpiar
									</button>
								</div>
							</div>
							<div id="idDivAgregar" class="row d-none">	
								<div class="form-group form-group-sm offset-10 col-sm-1">
									<button id="buttonAgregarExp" type="button" class="btn btn-sm btn-success">
										Agregar
									</button>
								</div>
							</div>
							<hr>
							<br>
							<div class="row">
								<div class="table-responsive" style="padding-left: 15px; padding-right: 15px;">
									<table width="100%" id="tableResultadosDetalle" border="1" frame="void" rules="rows"
										class="display table table-md compact nowrap" >
										<thead class=" text-primary">
											<tr>
												<th width="10%" class="text-center align-middle"> </th>
												<th width="15%" class="text-center align-middle">Expediente</th>
												<th width="75%" class="text-center align-middle">Nombre Completo</th>												
											</tr>
										</thead>
										<tbody id="bodyResultadosDetalle">											
										</tbody>
									</table>
								</div>	
							</div>							
							<hr>
						</form>
					</div>
				</div>
			</div>
      		<footer class=" font-small ">
		        <div class="container-fluid text-center ">
		          <small class="text-muted">Copyright &copy; 2021. Oliver Mauricio Rubio Renteria</small>        
		        </div>
      		</footer>
      	</div>
    </div>
  </div>
</body>
</html>
