<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
	<title>Examen Seguridad</title>
	<div th:replace="layout/layout_components :: components"></div>
    <script type="text/javascript" th:src="@{/js/layout/constructors.js}"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <link rel="stylesheet" th:href="@{/css/layout/menu.css}">
    <link rel="stylesheet" th:href="@{/css/index/index.css}" >
	<link rel="stylesheet" th:href="@{/assets/css/style.css}" >
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<script type="text/javascript" charset="utf-8">	
		$(window).on('load', function() {
		  if ($('#preloader').length) {
		    $('#preloader').delay(100).fadeOut('slow', function() {
		      $(this).remove();
		    });
		  }
		});
	</script>  
</head>
<body>
	<div id="qz-alert" style="position: absolute; width: auto; margin: 0 4% 0 36%; z-index: 200;padding-left: 150px;"></div>
  	<header id="header" class="fixed-top">
	    <div class="container d-flex align-items-center">
		    <a href="/inicio" class="logo mr-auto"><img th:src="@{/img/Seguridad_logo.png}" alt="" class="img-fluid"></a>
		    <nav class="nav-menu d-none d-lg-block">
		    <ul>
		     </ul>
		     </nav><!-- .nav-menu -->
	    </div>
  	</header><!-- End Header --> 
  	<!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
    </section><!-- End Breadcrumbs -->
	<div class="container-fluid"> 
		<div class="modal-dialog text-center">
	        <div class="col-sm-8 main-section">
	            <div class="modal-content">
	                <div class="col-12 user-img">
	                    <img th:src="@{/img/user.png}"/>
	                </div>
	                <form id="formLogin" class="col-12" th:action="@{/login}" method="post">
	                    <div class="form-group" id="user-group">
	                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="username"/>
	                    </div>
	                    <div class="form-group" id="contrasena-group">
	                        <input type="password" class="form-control" placeholder="Contrasena" name="password"/>
	                    </div>
	                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
	                </form>
	                <form id="formRegister" class="col-12 needs-validation d-none " novalidate>                	
	                	<div class="form-group" id="nombre-group">
	                        <input type="text" class="form-control" placeholder="Nombre(s)" id="inputNombre"/>
	                        <div id="inputErrorNombre" class="text-danger d-none">
								<h5><span th:text="#{general.palabra.dato.incorrecto}"></span></h5>
							</div>
	                    </div>
	                    <div class="form-group" id="paterno-group">
	                        <input type="text" class="form-control" placeholder="Apellido Paterno" id="inputPaterno"/>
	                    </div>
	                	<div class="form-group" id="materno-group">
	                        <input type="text" class="form-control" placeholder="Apellido Materno" id="inputMaterno"/>
	                    </div>    
	                    <div class="form-group" id="correo-group">
	                        <input type="text" class="form-control" placeholder="Correo Electrónico" id="inputCorreo"/>
	                    </div>
	                    <div class="form-group" id="correo-group">
	                        <input type="text" class="form-control" placeholder="Telefono" id="inputTelefono"/>
	                    </div>
	                    <div class="form-group" id="user-group">
	                        <input type="text" class="form-control" placeholder="Nombre de usuario" id="inputUsername"/>
	                    </div>
	                    <div class="form-group" id="contrasena-group">
	                        <input type="password" class="form-control" placeholder="Contraseña" id="inputPassword"/>
	                    </div>
	                    <div class="form-group" id="contrasena-group">
	                        <input type="password" class="form-control" placeholder="Confirmar Contraseña" id="confiPassword"/>
	                    </div>
	                    <button id="btoRegistrar" type="button" class="btn btn-success"><i class="fas fa-sign-in-alt"></i>  Registrarse </button>
	                </form>
	                <div id="divIniciaSesion" class="col-12 forgot d-none">
	                	<button id="btoIniciaSesion" type="button" class="btn btn-secondary"> Iniciar Sesion </button>
	                </div>
	                <div id="divRecordarContra" class="col-12 forgot">
	                    <a href="#">Recordar contrasena</a>
	                </div>
	                <div th:if="${param.error}" class="alert alert-danger" role="alert">
			            Usuario y/o contraseña invalida.
			        </div>
			        <div th:if="${param.logout}" class="alert alert-success" role="alert">
			            Has sido desconectado.
			        </div>
	            </div>
	        </div>
	    </div>
    </div>
    <footer class=" font-small ">
        <div class="container-fluid text-center ">
          <small class="text-muted">Copyright &copy; 2021. Oliver Mauricio Rubio Renteria</small>
        </div>
      </footer>
    <div id="preloader"></div>
</body>
</html>