#player {
    width:400px; 
    height:400px;
    display: none; 
    margin: auto;
}

#snapshot {
    width:320px; 
    height:240px; 
    display: none; 
    margin: auto;
}

.custom-card {
	style ="width: 100%;
	height: 50%;
	border-color: #bfbfbf !important;
}

.custom-card-title {
	padding-top: 8px;
	padding-bottom: 0px !important;
	line-height: .7
	font-weight: bold;
	
}



.custom-card-body {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	font-weight: bold;
	text-decoration: underline;
	line-height: .7
}



tr.dynamic-row td{
	text-align: center;
	color: #394047;
}

tr.border-bottom td {
  border-bottom: 1pt solid #6C757D;
}

  .iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}